.custom-button {
    font-family: Rye;
    height: 6.7226vh;
    width: 11.71875vw;
    padding: 1.4005vh 2.8011vh 2.8011vh 1.4005v;
    font-size: 1.171875vw;
    color: #FBB537;
    background-color: #000;
    border-radius: 0.130vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 4.482vh;
    filter: drop-shadow(1.4005vh 1.4005vh 1.4005vh rgba(0, 0, 0, 0.8));
    border: #FBB537;
    border-style: double;
  }
  
  .custom-button:hover {
    background-color: #FBB537;
    color: #000;
    border: #000;
    border-style: solid;
  }


  
 