.About {
    margin: 50px auto;
    height: 85vh;
    width: 50vw;
    background: #000000;
    box-shadow: 40px 20px 10px rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}

.About .Content {
    font-family: monospace;
    font-size: large;
    letter-spacing: 0.12em;
    color: #00ff00;
    padding: 2em;
    height: 100%; /* Ensures Content takes full height of About */
    overflow-y: auto; /* Enables scrolling within Content */
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.Block{
    height: 28vh;
    padding: 10px;
    background-color: #000000;
    font-family: Rye;
    color: #FBB537;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Block h2{
    margin: 0%;
    font-size: 36px;
    letter-spacing: 3px;
}
.Block p{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 1%;
    text-align: center;
    line-height: 35px;
    font-size: larger;
}

.Hollow {
    height: 60vh;
    width: 45vw;
    border-width: 1.5px;
    border-color: #00ff00;
    border-style: solid;
    padding: 0.4em;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.Hollow::-webkit-scrollbar {
    display: none; 
}

.About .Content .Hollow .Code p {
    line-height: 1.5em;
    color: azure;
}

.About .Content .Hollow .Code p #keyword {
    color: #00ff00;
}

.About .Content .Hollow .Code p #value {
    color: #3572EF;
}

.About .Content .Hollow .Code p #func {
    color: crimson;
}

.About .Content .Hollow .Code p #int {
    color: #e6ef35;
}
.About .Content .Hollow .Code p #symbol{
    color: azure;
} 
