.Contactform {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 50vh;
    padding: 5.602vh;
    margin-bottom: 8.4033vh;
    margin-right: 3.90625vw;
}

.Contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: auto;
}

.ContactItem {
    display: flex;
    align-items: center;
    margin-bottom: 2.8011vh;
    font-family: Rye;
    letter-spacing: 0.104167vw;
}


.Contacts img {
    width: 1.953125vw;
    height: 4.2017vh;
    margin-left: 9.765625vw;
    margin-right: 2.6041vw;
}

.det {
    color: #FBB537;
    text-decoration: none;
    margin-left: 0.651vw;
    filter: drop-shadow(0vh 2.1008vh 2.1008vh rgba(0, 0, 0, 1));
}

.det:hover{
    color: azure;
    filter: drop-shadow(0vh 2.1008vh 2.1008vh rgba(0, 0, 0, 1));
}
  
.Illus img {
    width: 20.834vw;
    height: 42.0168vh;
    margin-bottom: 1.4005vh;
    animation: floating 2s ease-in-out infinite;
    filter: drop-shadow(0vh 1.4005vh 1.4005vh rgba(0, 0, 0, 0.5));
}

@keyframes floating {
  0% {
    transform: translateY(0);
    filter: drop-shadow(0vh 1.4005vh 1.4005vh rgba(0, 0, 0, 0.5));
  }
  50% {
    transform: translateY(-25px);
    filter: drop-shadow(0vh 1.4005vh 1.4005vh rgba(0, 0, 0, 0.3));
  }
  100% {
    transform: translateY(0);
    filter: drop-shadow(0vh 1.4005vh 1.4005vh rgba(0, 0, 0, 0.5));
  }
}

.Cblock{
    height: 18vh;
    padding: 1.4005vh;
    background-color: #000000;
    font-family: Rye;
    color: #FBB537;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Cblock h2{
    margin: 0vh;
    font-size: 2.871875vw;
    letter-spacing: 0.1953125vw;
}