li{
    text-align: center;
    list-style: none;
    display: inline-block;
    margin-right: 42px;
    margin-top: 5px;
    font-weight: 600;
    font-family: monospace;
    font-size: larger;
    text-justify: distribute-all-lines;
}

li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: brown;
    text-decoration: underline 2px;
    text-decoration-color: black;
}
