.App{
  
  margin-left: 8px;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  
}

.App::-webkit-scrollbar {
  display: none; 
}
.Logo{
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3.5px;
  color: brown;
  font-family: monospace;
  font-size: 42px;
  cursor: default;
}
.Logo span{
  color: black;
}
.Logo:hover{
  color: black;
}
.Logo:hover span{
  color: brown;
}
